
.letter {
  background-color: #eee;
  padding: 10px;
  margin:8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #777;
  font-size: 20px;
  border-radius: 3px;
  border: 1px #aaa solid;
  width: 30px;
  height: 30px;    
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px grey;
}

.letter:hover {
  cursor: pointer;
  background-color: #ddd;
}

.letteroff{
  @extend .letter;
  color: white;
  text-shadow: 1px 1px 2px grey;
}

.letteroff:hover{
  cursor: default;
  background-color: #eee;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .letter {
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 6px;
    font-size: 16px;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .letter {
    width: 24px;
    height: 24px;
    padding: 6px;
    margin: 5px;
    font-size: 16px;
  }
}

@media (min-width: 540px) and (max-width: 640px) {
  .letter {
    width: 20px;
    height: 20px;
    padding: 6px;
    margin: 5px;
    font-size: 14px;
  }
}

@media (min-width: 480px) and (max-width: 540px) {
  .letter {
    width: 16px;
    height: 16px;
    padding: 4px;
    margin: 2px;
    font-size: 14px;
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  .letter {
    width: 18px;
    height: 18px;
    padding: 4px;
    margin: 1px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .letter {
    width: 18px;
    height: 18px;
    padding: 3px;
    margin: 0;
    font-size: 14px;
  }
}