.switch-btn {
    display: inline-block;
    width: 36px;
    height: 18px;
    border-radius: 9px;
    background: #bfbfbf;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
}

.switch-btn::after {
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
    top: 3px;
    left: 3px;
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: #4a90e2;
}

.switch-on::after {
    left: 19px;
}
