.wrap {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 0;
  color: black;
  border: 2px solid #555;
  border-radius: 3px;
  margin: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

@media (min-width: 768px) and (max-width: 1366px) {
  .wrap {
    margin: 8px;
  }
}

@media (min-width: 590px) and (max-width: 768px) {
  .wrap {
    margin: 8px;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}

@media (min-width: 390px) and (max-width: 590px) {
  .wrap {
    margin: 4px;
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .wrap {
    margin: 4px;
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}
