:global(#root) {
  height: 100vh;
  display: flex;
  background-image: url("../../img/background.png");
  background-repeat: repeat;
  overflow: hidden;
}

.wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;  
  min-width: 500px;
  margin: auto;
  margin-top: 3%;
}

.gamearea{
  display: flex;
  margin-top: 30px;
  position: relative;
  padding: 10px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;    
}

@media (min-width: 768px) and (max-width: 1366px) {
  .wrap {
    margin-top: 2%;
  }

  .gamearea{
    margin-top: 10px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .wrap {
    margin-top: 2%;
    min-width: 480px;
  }

  .gamearea{
    margin-top: 10px;
  }
}

@media (min-width: 390px) and (max-width: 480px) {
  .wrap {
    margin-top: 2%;
    min-width: 390px;
  }

  .gamearea{
    margin-top: 10px;
  }
}

@media (max-width: 390px) {
  .wrap {
    margin-top: 0;
    min-width: 300px;
    justify-content: space-between;
  }
  
  .gamearea{
    margin-top: 10px;
  }
}
