.wrap {
  padding: 5px;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 3px;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrap {
    padding: 2px;
  }
}

@media (max-width: 480px) {
  .wrap {
    display: none;
  }
}
