.wrapper {
    opacity: .9;
    background-color: white;
    border: 1px solid #ddd;    
}
  
.message {
    color: #333;
    font-size: 40px;
    display: block;
    margin-bottom: 40px;    
}
  
.imgStyle {
    width: 300px;
}
  
@media (min-width: 390px) and (max-width: 480px) {
    .imgStyle {
        width: 200px;
    }

    .wrapper {
        opacity: 1;
    }
}
  
@media (max-width: 390px) {
    .imgStyle {
        width: 150px;
    }
  
    .wrapper {
        opacity: 1;
    }
}
  