@mixin line($x, $y, $length, $angle, $color) {
  position: absolute;
  width: $length;
  height: 1px;
  left: $x;
  top: $y;
  background-color: $color;
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  transform: rotate($angle);
  -o-transform: rotate($angle);
}

@mixin circle($x, $y, $radius, $color) {
  position: absolute;
  width: $radius*2;
  height: $radius*2;
  left: $x - $radius;
  top:  $y - $radius;
  border: 1px solid $color;
  border-radius: 50%;
}

@mixin black_line($x, $y, $length, $angle) {
  @include line($x, $y, $length, $angle, #000);
  z-index: 10;
}

@mixin grey_line($x, $y, $length, $angle) {
  @include line($x, $y, $length, $angle, #eee);
  z-index: 10;
}

@mixin black_circle($x, $y, $radius) {
  @include circle($x, $y, $radius, #000);
  z-index: 1;
}

@mixin grey_circle($x, $y, $radius) {
  @include circle($x, $y, $radius, #eee);
  z-index: 1;
}
