.wrap {
  display: block;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  background-color: #fff;
}

.headElement {
  @include black_circle(158px, 70px, 20px);
}

.bodyElement {
  @include black_line(120px, 130px, 80px, -90deg);
}

.leftLegElement {
  @include black_line(107px, 198px, 70px, -60deg);
}

.rightLegElement {
  @include black_line(143px, 198px, 70px, 60deg);
}

.leftHandElement {
  @include black_line(100px, 120px, 70px, -45deg);
}

.rightHandElement {
  @include black_line(150px, 120px, 70px, 45deg);
}

.gallowsFoundElement {
  @include black_line(10px, 260px, 90px, 0deg);
}

.gallowsElement {
  @include black_line(-70px, 140px, 240px, -90deg);
}

.gallowsArmElement {
  @include black_line(40px, 20px, 180px, 0deg);
}

.gallowsRopeElement {
  @include black_line(145px, 35px, 30px, -90deg);
}


.greyHeadElement {
  @include grey_circle(158px, 70px, 20px);
}

.greyBodyElement {
  @include grey_line(120px, 130px, 80px, -90deg);
}

.greyLeftLegElement {
  @include grey_line(107px, 198px, 70px, -60deg);
}

.greyRightLegElement {
  @include grey_line(143px, 198px, 70px, 60deg);
}

.greyLeftHandElement {
  @include grey_line(100px, 120px, 70px, -45deg);
}

.greyRightHandElement {
  @include grey_line(150px, 120px, 70px, 45deg);
}

.greyGallowsFoundElement {
  @include grey_line(10px, 260px, 90px, 0deg);
}

.greyGallowsElement {
  @include grey_line(-70px, 140px, 240px, -90deg);
}

.greyGallowsArmElement {
  @include grey_line(40px, 20px, 180px, 0deg);
}

.greyGallowsRopeElement {
  @include grey_line(145px, 35px, 30px, -90deg);
}
