.wrap {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 20px;
}

.head_letters {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  font-size: 24px;  
}

.switchView {
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  width: calc(100% - 50px);
  margin-right: 50px;
}

.keyboardIcon {
  margin-left: 6px;
  margin-top: 2px;
  width: 30px;
  opacity: .7;

  &.keyboardIconOff {
    opacity: .2;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .wrap {
    margin: 10px;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .wrap {
    margin: 10px;
  }
}

@media (min-width: 640px) and (max-width: 800px) {
  .wrap {
    margin: 10px;
    flex-flow: column wrap;
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .wrap {
    margin: 10px;
    flex-flow: column wrap;
    width: 100%;
  }
}

@media (min-width: 391px) and (max-width: 480px) {
  .wrap {
    margin: 10px;
    flex-flow: column wrap;
    width: 100%;
  }
}

@media (max-width: 390px) {
  .wrap {
    margin: 0;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #000;
    display: block;
    width: 100vw;
    background-color: #fff;
    height: calc(100vh - 500px);
  }
}
