.wrap {
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 3px;
  position: relative;
  display: block;
  cursor: pointer;
  margin: 10px;  
}

.options {
  border: 1px solid #aaa;
  border-top: 0;
  top: 49px;
  left: -1px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
  border-radius: 0 0 3px 3px;
  z-index: 100;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.32);
    pointer-events: none;
  }
}

.selected {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px 16px 14px 16px;
  background-color: #ccc;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;

  &:hover {
    
    .icon {
      opacity: 1;
    }
  }
}

.text {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;;
  text-transform: uppercase;
  line-height: 1;
  color: rgba(0,0,0,0.6);
  letter-spacing: normal;
}

.icon {
  width: 7px;
  height: 6px;
  transform: rotate(45deg);
  border: solid #1d1e1f;
  border-width: 0 2px 2px 0;
  opacity: 0.5;
  background-color: #ccc;
  margin-left: 5px;
}

.option {
  padding: 7px 12px 7px 12px;
  background-color: #ccc;
  white-space: pre;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  letter-spacing: normal;

  &:hover {
    background-color: #575859;
  }

  &::after {
    content: " ";
  }

  &:last-child {
    border-radius: 0 0 3px 3px;
  }
}

.dropdown_selected {
  background-color: #4a90e2;
}

.selected_opened {
  background-color: #ccc;
  border-radius: 3px 3px 0 0;
}

.icon_opened {
  width: 8px;
  height: 6px;
  margin-top: 5px;
  border-width: 2px 0 0 2px;
  background-color: #ccc;
}

.options_opened {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrap {
    margin: 5px;
  }

  .selected {
    padding: 10px 12px 12px 12px;
    font-size: 14px;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .wrap {
    margin: 5px;
  }

  .selected {
    padding: 10px 12px 12px 12px;
    font-size: 14px;
  }
}