@keyframes hideMenu {
  from {left: 0;}
  to {left: -300px; visibility: hidden;}
}

@keyframes showMenu {
  from {left: -300px;}
  to {left: 0;}
}

@keyframes hideMenu {
  from {left: 0;}
  to {left: -300px; visibility: hidden;}
}

@keyframes showLangList {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideLangList {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.mobileMenuWrapper {
  display: none;
  position: relative;

  ul {
    position: absolute;
    list-style: none;
    top: 30px;
    left: 0;
    background-color: rgba(153,153,153,0.9);
    z-index: 200;
    padding: 20px;
    border-radius: 0 3px 3px 0;
    height: calc(100vh - 30px);
  
    &.showMenuClass {
      display: block;
      animation: showMenu 1s 1 ease-in-out;
    }

    &.hideMenuClass {
      animation: hideMenu 500ms 1 ease-in-out;
    }

    &.langList {
      position: relative;
      background-color: transparent;
      height: auto;
      top: 0;

      li {
        font-size: 18px;
        padding: 8px;

        &.currentLanguage {
          margin-left: -20px;
        }
      }

      &.showLangListClass {
        animation: showLangList 1s 1 ease-in-out;
      }

      &.hideLangListClass {
        animation: hideLangList 500ms 1 ease-in-out;
      }
    }

    li {
      padding: 10px;
      font-family: Tahoma;
      font-size: 20px;

      &.donate {
        color: #ffabab;
      }
    }
  }
}

.checkMark {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.burger {
  width: 50px;
  height: 50px;
  color: rgb(153,153,153);
}

.icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #1d1e1f;
  border-width: 2px 2px 0 0;
  background-color: transparent;
  margin-left: 15px;
}

.icon-opened {
  margin-top: 10px;
  border-width: 2px 0 0 2px;
}
  
@media (max-width: 480px) {
  .mobileMenuWrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    background-color: transparent;
  }
}
