.gamearea {
  display: flex;
  margin-top: 30px;
  position: relative;
  padding: 10px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;    
}

.riddlearea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;   
  width: 800px;
}

.isDesktopWrapper {
  display: block;
}

@media (min-width: 768px) and (max-width: 1366px) {
  .gamearea {
    margin-top: 10px;
  }
}
  
@media (min-width: 480px) and (max-width: 768px) {
  .riddlearea {
    flex-flow: column nowrap; 
    width: 100%;
  }

  .gamearea {
    margin-top: 10px;
  }
}
  
@media (min-width: 390px) and (max-width: 480px) {
  .riddlearea {
    flex-flow: column nowrap; 
    width: 100%;
  }

  .gamearea {
    margin-top: 10px;
  }

  .isDesktopWrapper {
    display: none;
  }  
}
  
@media (max-width: 390px) {
  .riddlearea {
    flex-flow: column nowrap; 
    width: 100%;
  }
  
  .gamearea {
    padding: 0;
    margin-top: 10px;
    height: calc(100vh - 60px);
    justify-content: space-between;
  }

  .isDesktopWrapper {
    display: none;
  }
}
