.wrapper {
  padding: 20px 26px 24px 26px;
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
  color: rgba(0,0,0,0.6);
  opacity: 1;

  &:hover {
    cursor: pointer;
    background-color: #ddd;
  }

  &.active {
    background-color: #ddd;
  }
}
