.modal {
    width: 860px;
    height: 746px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: relative;
}

.cross {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    color: #a2abb3;

    &:hover {
        color: unset;
    }
}