.wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-top: 15px;
}

.wrapWord {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.riddle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #333;
}

.riddleHead {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;  
  margin-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 800px) {
  .wrap {
    width: 430px;
  }
}

@media (max-width: 768px) {
  .wrap {
    width: 100%;
  }
}
