.gamearea {
  display: flex;
  margin-top: 30px;
  position: relative;
  padding: 10px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1366px) {
  .gamearea {
    margin-top: 10px;

    &>img {
      width: 700px;
    }
  }
}
  
@media (min-width: 480px) and (max-width: 768px) {
  .gamearea {
    margin-top: 10px;

    &>img {
      width: 450px;
    }
  }
}
  
@media (min-width: 390px) and (max-width: 480px) {
  .gamearea {
    margin-top: 10px;

    &>img {
      width: 370px;
    }
  }
}
  
@media (max-width: 390px) {
  .gamearea {
    margin-top: 10px;

    &>img {
      width: 370px;
    }
  }
}
