.wrapper {
    opacity: .7;
    background-color: black;
    border: 1px solid black;    
}

.message {
    color: white;
    font-size: 40px;
    display: block;
    margin-bottom: 40px;    
}

.imgStyle {
    width: 300px;
}

.cross {
    &:hover {
        color: white;
    }
}

@media (min-width: 390px) and (max-width: 480px) {
    .imgStyle {
        width: 200px;
    }

    .wrapper {
        opacity: 1;
        background-color: #333;
        border: 1px solid #333;          
    }
}
 
@media (max-width: 390px) {
    .imgStyle {
        width: 150px;
    }
  
    .wrapper {
        opacity: 1;
        background-color: #333;
        border: 1px solid #333;
    }
}
