.wrap {
  position: relative;
  margin-top: 20px;
  padding: 7px;
  width: 400px;
  height: 12px;
  border-radius: 3px;
  border: 1px #aaa solid;
  background-color: #fff;  
}

.message {
  left: 0;
  top: 0;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 400px;
  padding: 7px;
  text-shadow: 0 0 4px #fff;
}

.progress {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #444;
}

@media (min-width: 768px) and (max-width: 1366px) {
  .wrap {
    margin-top: 10px;
  }
}
  
@media (min-width: 480px) and (max-width: 768px) {
  .wrap {
    margin-top: 10px;
  }
}

@media (min-width: 390px) and (max-width: 480px) {
  .wrap {
    margin: 0 5px;
    padding: 0;
    width: 100%;
    height: 50px;
  }

  .message {
    width: 100%;
    height: 50px;
    align-items: center;
    padding: 0;
    font-size: 16px;
  }    
}

@media (max-width: 390px) {
  .wrap {
    margin: 0 5px;
    padding: 0;
    width: 100%;
    height: 50px;
  }

  .message {
    width: 100%;
    height: 50px;
    align-items: center;
    padding: 0;
    font-size: 14px;
  }     
}
