.letters {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 100%;
    flex-flow: row wrap;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .letters {
        min-height: 200px;
    }
}
  
@media (min-width: 800px) and (max-width: 1024px) {
    .letters {
        min-height: 140px;
    }
}
  
@media (min-width: 640px) and (max-width: 800px) {
    .letters {
        min-height: 140px;
    }
}
  
@media (min-width: 480px) and (max-width: 640px) {
    .letters {
        min-height: 140px;
    }
}
  
@media (min-width: 391px) and (max-width: 480px) {
    .letters {
        min-height: 140px;
    }
}
  
@media (max-width: 390px) {
    .letters {
        min-height: 140px;
        background-color: #fff;
    }
}
