.button {
  padding: 12px 16px 14px 16px;
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
  color: rgba(0,0,0,0.6);

  &:hover {
    cursor: pointer;
    background-color: #ddd;
  }

  &.active {
    background-color: #ddd;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .button {
    margin: 5px;
    padding: 10px 12px 12px 12px;
    font-size: 14px;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .button {
    margin: 5px;
    padding: 10px 12px 12px 12px;
    font-size: 14px;
  }
}